* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  font-family: sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
